<!-- Title -->
<title>
  VTEX API Request | 404 - Página não encontrada
</title>
</head>
<body>
  <div id="home" class="content">
    <div>
      <div class="ball top"></div>
      <div class="ball bottom"></div>
    </div>

    <main>
      <div class="container">
        <section class="not-found-box">
          <h2>Oops! Esta página não foi encontrada.</h2>
          <a href="/" class="button home">
            <img src="/images/home.svg" alt="Get back home" /> Voltar a página inicial
          </a>
        </section>
      </div>
    </main>
  </div>
</body>
